body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2D2B5A;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  background-color: #1D1A37;
  border-radius: 30px;
  padding: 50px 100px;
  text-align: center;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 70px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background-color: #E0F7FF;
  border-radius: 50%;
  margin-right: 15px;
}

.logo-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  white-space: nowrap;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}

.input-group label {
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid #6D6D8E;
  background-color: #2A2957;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}

.input-group input::placeholder {
  color: #6D6D8E;
}


.input-group input:focus {
  border-color: #E0F7FF;
  outline: none;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6D6D8E;
  font-size: 16px;
  pointer-events: all;
}

.forgot-password {
  text-align: left;
  margin-bottom: 20px;
}

.forgot-password a {
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #5956E9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  pointer-events: auto;
  outline: none;
}

.sign-in-button:hover {
  background-color: #ffffff;
  color: #5956E9;
}

.signup {
  color: white;
  font-size: 12px;
}

.signup a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}