body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100vh;
}

header {
  background-color: #800000;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid gold;
}

header h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

#back_button {
  background-color: gold;
  color: maroon;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 9999;
}

#back_button:hover {
  background-color: #fbff03;
}

#controls {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

#chart-selector,
#show-chart {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#show-chart {
  background-color: gold;
  color: maroon;
  border: none;
  cursor: pointer;
}

#show-chart:hover {
  background-color: #fbff03;
}

.chart {
  width: 80%;
  max-width: 1000px;
  height: 500px;
  margin: 20px auto;
}
